services:
  - name: predicta-api
    type: web
    env: python
    region: frankfurt
    plan: free
    branch: main

    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt

    startCommand: uvicorn main_weighted:app --host 0.0.0.0 --port 8000

    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"
      - key: MODEL_PATH
        value: models/weighted_model.pkl
      - key: SCALER_PATH
        value: models/weighted_scaler.pkl
      - key: METADATA_PATH
        value: models/weighted_model_metadata.json
      - key: DATA_PATH
        value: data/merged_all.csv
      - key: PORT
        value: 8000

    healthCheckPath: /api/status
    autoDeploy: true
